* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 20px; /* Adjust the value as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#bg-pixels {
  background-color: #2b00ff;
  height: 100vh;
  width: 100vw;
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: -20;
}

#message-board {
  text-align: center;
  color: #ffffff;
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

#messages-container {
  margin-bottom: 20px;
}

textarea {
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
  resize: none;
}

button {
  background-color: #eed709;
  color: #000000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #de370e;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#centered-text {
  text-align: center;
  position: fixed;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  color: #ffffff;
  transition: color 0.3s;
  font-family: 'Comic Sans MS', cursive;
  font-size: 2em;
}



#centered-text:hover {
  color: #d0ff00; 
}

h1 {
  background-color: transparent; 
}

#centered-gif {
  max-width: 100%;
  height: auto;
  background-color: transparent;
  position: fixed;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bottom-left-gif {
  max-width: 100%;
  height: auto;
  background-color: transparent;
  position: fixed;
  bottom: 5%; 
  left: 5%; 
}

.no-link {
  text-decoration: none; /* Remove underlining */
  color: inherit; /* Inherit text color */
}

.no-link:hover {
  text-decoration: none; /* Remove underlining on hover */
}

#sidebar {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 200px; /* Adjust width as needed */
  height: calc(100% - 40px); /* Adjust height to consider padding */
  overflow-y: auto;
  background-color: rgba(0, 10, 60, 0.711); /* Semi-transparent background */
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional shadow for depth */
  color: #fff;
}

.sidebar-item {
  margin-bottom: 20px;
}

.sidebar-item img {
  width: 100%;
  height: auto;
}

.sidebar-item p {
  text-align: center;
  margin-top: 5px;
}

/* Change text color on hover for sidebar items */
.sidebar-item a:hover {
  color: #ff00ff; /* Change to the desired color */
}


.message {
  max-width: 80%; 
  word-wrap: break-word; 
  margin: 10px auto; 
  padding: 10px; 
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 5px; 
}

.content {
  position: absolute;
  top: 50%;
  right: calc(50% + 100px); /* Adjust as needed */
  transform: translateY(-50%);
  color: #fff;
  font-size: 12px; /* Adjust font size as needed */
  text-align: right;
}